// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Phase tags

.phase-tag--no-content {
    background:#fff;
    border:2px solid #7a8489;
    color:#626a6e;
    // margin-bottom:-2px;
    // margin-top:-2px
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
}
.phase-tag--draft {
    background:#f47738
}
.phase-tag--withdrawn {
    background:#0b0c0c;
    color:#fff
}
.phase-tag--published {
    background:#00823b
}
