{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/pe-allocation/request-places"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">
		<span class="govuk-caption-xl">New provider name</span>
		Confirm alllocation request before submitting
	</h1>

		<div class="body-text">

			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Places
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['requested-amount'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="/pe-allocation/request-places">
							Change <span class="govuk-visually-hidden">places requested</span>
						</a>
					</dd>
				</div>
			</dl>

			<p>This will submit your request to DfE.</p>

		</div> 

		{# <button class="govuk-button" data-module="govuk-button">Continue</button> #}
		<a class="govuk-button" href="/pe-allocation/confirmation-phase-2">Submit</a>

	</div>
</div>

{% endblock %}
