{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Middlesex University",
  href: "/"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
		<h1 class="govuk-panel__title">
			Allocation request complete
		</h1>
	</div>
	<p class="govuk-body ">We have sent you a confirmation email.</p>
	<h2 class="govuk-heading-m">What happens next</h2>
	<p class="govuk-body">Some information about what happens next.</p>
</div>



  </div>
</div>

{% endblock %}
