{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "PE allocations",
  href: "/pe-allocations-phase-2"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form action="/pe-allocation/request-places" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
              What is the name of the new provider?
            </h1>
            <p>This will be an auto-complete input listing existing providers in Publish.<br> 
          </legend>
          Add any data here for now to get through the flow.</p>
          <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            <label class="govuk-label" for="event-name">
              <span class="govuk-visually-hidden">Provider name</span>
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <p>If the traning provider is not listed they may need to be added to Publish first.</p> 

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

<script type="text/javascript">

</script>
