{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
 	 <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-panel__title">
			<span class="govuk-caption-xl">Enfield County School for Girls</span>
			Thank you
		</h1>
		<p>You have confirmed that Hope Valley College will not be offering fee-funded PE in 2021/22.</p>
		<h2 class="govuk-heading-m">What happens next?</h2>
		<p>You don’t need to do anything else. You can still change this request through the ‘Request courses for 2021/22’ page. If you have any questions, contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
		<a class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6" style="display: block" href="/pe-allocations-phase-3-a">Return to Request PE courses for 2021/22</a>
  	</div>
</div>

{% endblock %}
