{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{# {% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %} #}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/pe-allocation/step-2"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form action="/pe-allocation/check-answers" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">Provider name</span>
              How many PE places are you requesting?
            </h1>
          </legend>
          <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            <label class="govuk-label" for="event-name">
              <span class="govuk-visually-hidden">Enter the number of places you are requesting</span>
            </label>
            <input class="govuk-input govuk-input govuk-input--width-10" id="requested-amount" name="requested-amount" value="{{ data['requested-amount'] }}" type="text">
          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
