{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Request Sent' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "PE Allocations",
  href: "/pe-allocations-phase-2"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
		<h1 class="govuk-panel__title">
			Request sent
		</h1>
	</div>
	<p class="govuk-body ">You have confirmed that Enfield School would like to offer fee-funded PE in 2021/22. You will shortly receive an email to <a href="mailto:ecsgeneral@enfieldcs.enfield.sch.uk">ecsgeneral@enfieldcs.enfield.sch.uk</a> setting out next steps.</p>
	<a class="govuk-button govuk-!-margin-top-2" href="/pe-allocations-phase-2">Continue</a>

  </div>
</div>

{% endblock %}
