{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Request submitted' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">SAF Initial Teacher Training</span>
          You’ve sent your request for this organisation
		    </h1>
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>We’ll let you know how many places you’ve been allocated in early September. You have until 10 July to change this request.</p>
        <p>If you have any questions, contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
        <a class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6" style="display: block" href="/pe-allocations-phase-2">Return to Request PE courses for 2021/22</a>

        </div>

  </div>
</div>

{% endblock %}