{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Request submitted' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "PE Allocations",
  href: "/pe-allocations-phase-3"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Hope Valley College</span>
          You’ve submitted your request for this provider
		    </h1>

        <div class="body-text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Places requested
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['requested-amount'] }}
              </dd>
            </div>
          </dl>

          <p>If you have any question about this request place contact <a href="mailto:becomingateacher@digitial.education.gov.uk">becomingateacher@digitial.education.gov.uk</a></p>

        </div>

      </div>
      </div>

  </div>
</div>

{% endblock %}