{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "PE Allocations",
  href: "/pe-allocations"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">London Academy</span>
          Your PE allocation request has been submitted
		    </h1>

        <div class="body-text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Places
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
            </div>
          </dl>

          <p>If you have any questiosn about this reqiuest place contact  <a href="mailto:address@com.com">becomingateacher@....</a></p>

        </div>

      </div>
      </div>

  </div>
</div>

{% endblock %}