{% extends "layout.html" %}
{% set title = 'Courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Middlesex University",
  href: "/"
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">EYITT and Under Graduate Allocations</h1>
  <p>Use this section to request Under Graduate and EYITT allocations for providers you're the accredited body for.</p>
  <p>Message here about deadline for submissions and what will happen after July 10th.<p>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">EYITT</h2>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a class="govuk-button govuk-!-margin-bottom-2" href="/pe-allocation/new-provider">Request EYITT allocations</a>
        <p>You’ll be taken to a Google Form to fill in your details.</p>
      </div>
  </div>
    <h2 class="govuk-heading-m govuk-!-margin-top-4">Under Graduate</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a class="govuk-button govuk-!-margin-bottom-2" href="/pe-allocation/new-provider">Request UG allocations</a>
        <p>You’ll be taken to a Google Form to fill in your details.</p>
      </div>
  </div>

{% endblock %}
