{% extends "layout.html" %}
{% set title = 'Request PE courses for 2021/22' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "University of East Anglia",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Request PE courses for 2021/22</h1>
    <p>You need to request any fee-funded PE courses for 2021/22 by 10 July 2020. You do not need to request salaried PE courses.</p>
    <p>Once you’ve made a request, you can change it before 10 July.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Request PE again in 2021/22</h2>
    
    <p>These are the organisations currently offering fee-funded PE that you’re listed as the accredited body for. Your own organisation will be included if it’s offering its own courses.</p>

    <p>Tell us if you’d like to request PE again. You won’t need to give recruitment figures - these will be allocated based on the current year’s figures. In September, you’ll receive confirmation of courses and numbers.</p>

    <div class="body-text">
      {# <h2 class="govuk-heading-m govuk-!-margin-top-7">Request PE again in 2021/22</h2> #}
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 280px">Organisation</th>
            <th class="govuk-table__header status-col" style="width: 250px">Status</th>
            <th class="govuk-table__header status-col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link  govuk-!-margin-bottom-0" href="/pe-allocation/offer-pe-e">Enfield County School for Girls</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table govuk-tag--grey">Confirm your choice</span>
            </td>
            <td class="govuk-table__cell">
               {# <a href="/pe-allocation/offer-pe-e">Request</a> #}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a href="/pe-allocation/no-request-confirmed-l" class="govuk-link  govuk-!-margin-bottom-0" href="#/">London Academy</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table govuk-tag--red">Not requested</span>
            </td>
            <td class="govuk-table__cell">
              <a href="#/">Change</a>
              {# <a href="#/">Change</a> | <a href="#/">View</a> #}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link  govuk-!-margin-bottom-0" href="/pe-allocation/request-sent-ab">University of East Anglia</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table govuk-tag--green">Requested</span>
            </td>
            <td class="govuk-table__cell">
               <a href="#/">Change</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Request new PE courses</h2>
    <p>Request any PE courses for 2021/22 not offered in the current cycle. Select the name of the organisation offering the course. You’ll be asked to give recruitment figures.</p>
    <a class="govuk-button govuk-!-margin-bottom-9" href="/pe-allocation/new-provider">Choose an organisation</a>
  </div>
</div>

{% endblock %}
