{% extends "layout.html" %}
{% set title = 'Request PE courses for 2021/22' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %}

{% block beforeContent %}
{{ govukBackLink({
  text: "University of Bristol",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Request PE courses for 2021/22</h1>
  <p>If you or your partners wish to offer fee-funded PE courses in 2021/22, you must let us know by 10 July 2020. We do not need to know about salaried PE courses.</p>
  <p>You’ll need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>confirm which 2020/21 PE courses you or your partners would like to offer in 2021/22</li>
    <li>request any new PE courses (ones not offered in 2020/21), and tell us how many trainees you’d like to recruit</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Do you want to request PE for these providers in 2021/22?</h2>
  
  <p>You’re listed as the accredited body for the following providers - each is offering fee-funded PE in 2020/21. Your own organisation will also be included, if you’re currently offering this course. Confirm whether you want to request these courses again for 2021/22. You do not need to supply recruitment numbers.<p>
    
    <div class="body-text">
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 380px">Training provider</th>
            <th class="govuk-table__header status-col">Status</th>
            <th class="govuk-table__header status-col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/submitted-alexandra">Alexandra Park School</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag phase-tag-small phase-tag-table phase-tag--published">Requested</span>
            </td>
            <td class="govuk-table__cell">
               <a href="javascript:void(0)" style="cursor: not-allowed;">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/submitted-enfield">Enfield County School for Girls</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag phase-tag-small phase-tag-table phase-tag--published">Requested</span>
            </td>
            <td class="govuk-table__cell">
               <a href="/pe-allocation/offer-pe-3">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/submitted-london">London Academy</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag phase-tag-small phase-tag-table phase-tag--published">Requested</span>
            </td>
            <td class="govuk-table__cell">
               <a href="javascript:void(0)" style="cursor: not-allowed;">Change</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Do you want to request PE places for another orgnisation?</h2>
    <p>Tell us if you or your partners wish to offer any new PE courses in 2021/22. Add the name of the training provider. You’ll be asked to supply recruitment numbers for these courses.</p>
    <div class="body-text">
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 380px">Training provider added for 2021/22</th>
            <th class="govuk-table__header status-col">Status</th>
            <th class="govuk-table__header status-col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/submitted-new-provider">Hope Valley College</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag phase-tag-small govuk-tag-table govuk-tag--published">10 Requested</span>
            </td>
            <td class="govuk-table__cell">
               <a href="">Change</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   <a class="govuk-button govuk-!-margin-bottom-9" href="/pe-allocation/new-provider">Add another organisation</a>
  </div>
</div>

{% endblock %}
