{% extends "layout.html" %}
{% set title = 'Request PE courses for 2021/22' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "University of Bristol",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Request PE courses for 2021/22</h1>
  <p>You need to request any fee-funded PE courses for 2021/22 by 10 July 2020. This includes courses you’re offering yourselves and courses you’re the accredited body for.</p>
  <p>You do not need to request salaried PE courses. Once you’ve made your requests, you can still change them before 10 July.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Do you want to run any current PE courses again?</h2>
  
  <p>Each of the following organisations is offering fee-funded PE in the current cycle (2020/21). You’re listed as their accredited body. Your organisation will also be included if it’s currently offering its own PE courses.</p>
  <p>Tell us whether you want to request these courses again for the next cycle. You do not need to supply recruitment numbers.</p>
    
    <div class="body-text">
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 320px">Organisation</th>
            <th class="govuk-table__header status-col" style="width: 250px">Running this course again?</th>
            <th class="govuk-table__header status-col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/submitted-ab">University of Bristol</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table">Yes</span>
            </td>
            <td class="govuk-table__cell">
              <a href="#/">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="/pe-allocation/offer-pe-e">Enfield County School for Girls</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table govuk-tag--grey">Incomplete</span>
            </td>
            <td class="govuk-table__cell">
               {# <a href="">Change</a> #}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span  class="govuk-heading-s govuk-!-margin-0">
                <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="#/">London Academy</a>
              </span>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-tag govuk-tag-small govuk-tag-table govuk-tag--grey">Incomplete</span>
            </td>
            <td class="govuk-table__cell">
              {# <a href="#/">Change</a> #}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Do you want to request any new PE courses?</h2>
    <p>Tell us about any new fee-funded PE courses for 2021/22 - this means any that aren’t being offered in the current cycle. Select the name of the organisation offering the course. You’ll be asked to supply recruitment numbers.</p>
    <a class="govuk-button govuk-!-margin-bottom-9" href="/pe-allocation/new-provider">Choose an organisation</a>
  </div>
</div>

{% endblock %}
